.form__input-wrapper {
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-top: 43px;
  padding-bottom: 9px;

  input {
    border: none;
    background: none;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    font-family: $font-Poppins;
    font-weight: bold;
    padding: 0;
    letter-spacing: 0.1px;
    width: 370px;

    &:hover,
    &:focus {
      outline: 1px solid #ffffff;
      cursor: pointer;
      border-radius: 10px;
    }
  }

  button {
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-family: $font-Poppins;

    &:hover,
    &:focus {
      cursor: pointer;
      animation: slide-left 2s ease 0.1s infinite;
    }
  }

  svg {
    stroke: #ffffff;
    margin-left: 10px;
  }

  use {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .form__input-wrapper {
    width: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .form__input-wrapper {
    width: 560px;
  }
}

@media (max-width: 767px) {
  .form__input-wrapper {
    margin-top: 42px;
    width: auto;

    input {
      width: 100%;
    }
  }
}
