.svg-sprite {
  display: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.main-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1 1 auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.visualy-hidden {
  font-size: 0;
}

@keyframes slide-left {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(20px);
  }
}

@media (max-width: 767px) {
  .container {
    margin: 0 25px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins.woff2") format("woff2"),
    url("../fonts/Poppins.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "CormorantGaramond-Italic";
  src: url("../fonts/CormorantGaramond-Italic.woff2") format("woff2"),
    url("../fonts/CormorantGaramond-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "CormorantGaramond-Bold";
  src: url("../fonts/CormorantGaramond-Bold.woff2") format("woff2"),
    url("../fonts/CormorantGaramond-Bold.woff") format("woff");
  font-display: swap;
}

$font-Poppins: "Poppins", "Arial", sans-serif;

$font-Cormorant-Italic: "CormorantGaramond-Italic", "Arial", sans-serif;

$font-Cormorant-Bold: "CormorantGaramond-Bold", "Arial", sans-serif;
